
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face { 
    font-family: "PT Sans";
    src: url(PT Sans.eot?) format("eot"),
         url(PT Sans.woff) format("woff"), 
         url(PT Sans.ttf) format("truetype");
}

body { 
  font-family: "PT Sans", sans-serif; 
}

#header_one{
	background-color: #dcdcdc;
	height: auto;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

#header{
	background-color: #dcdcdc;
	width: 980px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: auto;
}

.logo{
	width: 182px;
	height: 67px;
	float: left;
	padding-left: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
}

.contacts{
	font-family: 'PT Sans';
	width: auto;
	height: auto;
	float: right;
	padding-right: 150px;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #767676;
	font-size: 24px;
	line-height: 30px;
	font-weight: 100;
	overflow: auto;
}

.modal {
    position: fixed; /* фиксированное положение */
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* фон */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* При отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 300px auto; /* отображение окна по центру */
  }
}/* Стили для блока с контентом окна */ 
.modal-content {
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}

/* Стили заголовка окна */
.modal-header {
	font-family: 'PT Sans';
	font-size: 24px;
    -webkit-box-align: center;
    padding: 15px;
	display: block;
	margin: 0 auto;
}
.modal-title {
	font-family: 'PT Sans';
	font-family: PT Sans, sans-serif;
	color: #535353;
	font-size: 30px;
    line-height: 1.5;
    font-weight: 700;
}
/* Стили кнопки "х" ("Закрыть")  */
.close {
	position: absolute;
	top: -27px;
	right: -27px;
    float: right;
    opacity: .5;
}

/* Стили блока основного содержимого окна */
.modal-body {
	margin: 0 auto;
    padding: 15px;

}

.feedback{
	font-family: 'PT Sans';
	color: #535353;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	line-height: 1.2;
}

.input{
	font-family: 'PT Sans';
	margin-bottom: 2rem;
	display: block;
	width: 341px;
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
	color: #212529;
  	background-color: #fff;
  	background-clip: padding-box;
  	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border: solid 1px #777777;
	border-radius: 1px;
}

input:focus:required:invalid {
	background-color: #fffefe;
	border: solid 3px #ff8383;
	box-shadow: inset 0 0 10px rgb(255, 118, 118);
  }

.input_message{
	font-family: 'PT Sans';
	margin-bottom: 2rem;
	display: block;
	width: 341px;
	height: 142px;
	padding: 0.375rem 0.75rem;
	font-family: inherit;
	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
	color: #212529;
  	background-color: #fff;
  	background-clip: padding-box;
  	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border: solid 1px #777777;
	border-radius: 1px;
}

.button{
	font-family: 'PT Sans';
	width: 128px;
	height: 42px;
	border-style: none;
    appearance: none;
	background: #777777;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
}

.href{
	font-family: 'PT Sans';
	color: #767676;
	float: right;
	font-size: 20px;
	font-weight: 600;
}

#menu_one{
	background-color: #777777;
	height: auto;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
	position: relative;
}

#menu{
	background-color: #777777;
	width: auto;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	overflow: auto;
	width: 980px;
}

#list{
	font-family: 'PT Sans';
	width: 855px;
	height: auto;
	margin: 0 auto;
	overflow: auto;
	font-family: "PT Sans", sans-serif; 
    font-size: 20px;
	line-height: 30px;
	font-weight: 100;
	padding-bottom: 10px;
	display: block;
	margin: 0 auto;
	overflow: auto;
}

#menu ul li {
	display: inline-block;
	float: left;
	margin: 0 auto;
}

#menu ul li a {
	width: auto;
	color: #ffffff;
	text-decoration: none;
	overflow: hidden;
}

.menu{
	min-width: min-content;
	display: block;
	list-style-type: none;
	padding-top: 10px;
	margin: 0 auto;
	overflow: auto;
	font-family: 'PT Sans';
	font-size: 30px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #ffffff;
	
}

.menu a:hover {
	display: block;
	border-bottom: 1.5px solid #ffffff;
}

.palka{
	font-family: 'PT Sans';
	padding-left: 10px;
	padding-right: 10px;
}

.slideshow {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background: #f8f8f8;
}

.slideshow-item {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: slideanim 8s infinite;
    pointer-events: none;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img {
    animation-delay: 0s;
}

.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img {
    animation-delay: 4s;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 8s infinite;
}

@keyframes slideanim {
    25%{
        opacity: 1;
        pointer-events: auto;
    }
    50%{
        opacity: 1;
        pointer-events: auto;
    }    
}

@media screen and (max-width: 1100px){
    .slideshow-item-text{
        max-width: 75%;
    }
}
@media screen and (max-width: 456px){
    .slideshow-item-text {
        bottom: 0;
        left: 0;
        max-width: 100%;
    }
}

.slider{
	left: 0;
	right: 0;
	position: absolute;
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}

#content{
	width: 980px;
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
} 

#navigation{
	font-family: 'PT Sans';
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #767676;
	padding-top: 10px;
	padding-bottom: 20px;
}

#navigation a {
	font-family: 'PT Sans';
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	text-decoration: underline;
	letter-spacing: 0.025em;
	color: #767676;
}

#navigation a:hover{
	text-decoration: none;
}

#content{
	width: 980px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0 auto;
}

#left{
	width: 200px;
	height: 870px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	position:relative;
}

.catalog { 
    /* Обнуляем отступы и убираем маркеры у списков */
    list-style: none; 
	margin: 0; 
	padding: 0;
	font-family: 'PT Sans';
   }
   
   .catalog a {
    text-decoration: none; /* Убираем подчёркивание */
    color: #4c4c4c; /* Цвет ссылок */
    display: block; /* Блочные ссылки */
   }
   .catalog > li > a {
    padding: 10px 15px; /* Поля */
    position: relative; z-index: 3; /* Выводим поверх остальных элементов */
   }
   .catalog ul {
    display: none; /* Прячем подменю */
   }
   
   .catalog li:hover ul {
    display: block;
   }

.subdirectory{
	font-family: 'PT Sans';
	list-style: none;
	font-size: 14px;
	line-height: 22px;
	color: #010101;
	padding-left: 30px;
}

.subdirectory:hover{
	text-decoration: underline;
	font-weight: 600;
}
   
#catalog{
	margin-right: 20px;
	margin-bottom: 20px;
	padding-top: 1px;
}

.pricelogo{
	margin-left: 50px;
	position:absolute;
	bottom: 300px;
	
}

.pricelist{
	font-family: 'PT Sans';
	font-size: 30px;
	line-height: 25px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #444444;
	display: block;
	position: absolute;
	bottom: 270px;
	left: 10px;
}

#center{
	height: auto;
	width: 760px;
	float: left;
	margin-bottom: 10px;
}

#tovar{
	background-color: #dcdcdc;
	width: 230px;
	height: 350px;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
	display: block;
}

.tovar{
	width: 200px;
	height: 199px;
	padding: 15px;
	display: block;
}

.describe{
	font-family: 'PT Sans';
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #767676;
	padding-left: 20px;
}

.describe a{
	font-family: 'PT Sans';
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #767676;
	text-decoration: none;
}

.price{
	font-family: 'PT Sans';
	font-size: 28px;
	line-height: 18px;
	font-weight: 700;
	letter-spacing: 0.025em;
	color: #444444;
	display: block;
	position: relative;
	left: 30px;
	padding-top: 50px;
	float: left;
}

.basket{
	display: block;
	position: relative;
	float: right;
	padding-right: 30px;
	padding-top: 50px;
}

.content{
	width: 132px;	
	height: 150px;
	float: left;
	padding-right: 700px;
	margin-bottom: 20px;
}

.comment{
	width: 330px;	
	float: left;
	margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    
	font-family: 'PT Sans';
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	letter-spacing: 0.025em;
	color: #767676;
	margin-bottom: 200px;
}

#bottom{
	width: 760px;
	height: 100px;
	display: block;
	margin: 0 auto;
	float: right;
	text-align: center;
}

.page{
	font-family: 'PT Sans';
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	letter-spacing: 0.565em;
	color: #767676;
}

.page a{
	font-family: 'PT Sans';
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	letter-spacing: 0.565em;
	color: #767676;
	text-decoration: none;
}

.page a:hover{
	font-size: 18px;
	color: #444444;
}

.line{
	margin-top: 50px;
}

#footer_one{
	background-color: #777777;
	width: 100%;
	height: auto;
	margin: 0 auto;
	overflow: auto;
	flex: 0 0 auto;
}

#footer{
	width: 980px;
	height: auto;
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	padding-top: 50px;
}

.footer_left{
	font-family: 'PT Sans';
	float: left;
	color: #ffffff;
	line-height: 22px;
    font-size: 14px;
    margin-right: 200px;
    padding-bottom: 50px;
}

.footer_center{
	font-family: 'PT Sans';
	float: left;
	color: #ffffff;
	line-height: 22px;
    font-size: 14px;
    margin-right: 150px;
    padding-bottom: 50px;
    list-style-type: none;
}

.footer_center a{
	font-family: 'PT Sans';
	color: white;
}

.company_logo{
	width: 40px;
	height: 41px;
	float: left;
	margin-right: 10px;
	padding-bottom: 60px;
	padding-top: 10px;
}

.footer_right{
	font-family: 'PT Sans';
	float: right;
	color: #ffffff;
	line-height: 22px;
    font-size: 14px;
}

.footer_right a{
	font-family: 'PT Sans';
	color: white;
}

.footer_right p{
	float: left;
}